torch
torchvision
torchaudio
transformers
sentence_transformers
accelerate
bitsandbytes
openai-whisper
einops
uvicorn
fastapi
requests
pydantic
opensearch-py
jsonlines
bcrypt
PyPDF2
python-docx
python-multipart
